<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Novo Usuário</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Nome">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="E-mail">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Senha">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Repetir Senha">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']">Salvar</a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">Entrar</a>
            </form>
        </div>
    </div>
</div>
